services:
  outlook-junkmail-shredder:
    build: .
    container_name: outlook-junkmail-shredder
    restart: unless-stopped
    environment:
      - TZ=America/New_York
      - CLIENT_ID_FILE=/run/secrets/outlook_app_client_id
      - DISCORD_URL_FILE=/run/secrets/discord_url
      - AUTH_DIRECTORY=/mnt/auth
    secrets:
      - outlook_app_client_id
      - discord_url
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
      - auth:/mnt/auth
      - logs:/mnt/logs

secrets:
  outlook_app_client_id:
    environment: OUTLOOK_APP_CLIENT_ID
  discord_url:
    environment: DISCORD_URL_OUTLOOK

volumes:
  auth:
  logs:
