services:
    sqlite-web:
        container_name: junkmail-db-portal
        restart: unless-stopped
        ports:
            - 3005:8080
        image: coleifer/sqlite-web
        environment:
            - SQLITE_DATABASE=database.sqlite3
        volumes:
            - /opt/onedrive/outlook-junkmail-shredder:/data
    outlook-junkmail-shredder:
        build: .
        container_name: outlook-junkmail-shredder
        restart: unless-stopped
        ports:
            - "3000:3000"
        healthcheck:
            test: ["CMD", "curl", "-f", "http://localhost:3000/healthcheck"]
            interval: 30s
            timeout: 5s
            retries: 3
        environment:
            - TZ=America/New_York
            - CLIENT_ID_FILE=/run/secrets/outlook_app_client_id
            - DISCORD_URL_FILE=/run/secrets/discord_url
            - AUTH_DIRECTORY=/mnt/auth
            - DATABASE_FILE=/mnt/logs/database.sqlite3
        labels:
            - "com.centurylinklabs.watchtower.enable=false"
        secrets:
            - outlook_app_client_id
            - discord_url
        volumes:
            - /etc/localtime:/etc/localtime:ro
            - /etc/timezone:/etc/timezone:ro
            - auth:/mnt/auth
            - /opt/onedrive/outlook-junkmail-shredder:/mnt/logs

secrets:
    outlook_app_client_id:
        environment: OUTLOOK_APP_CLIENT_ID
    discord_url:
        environment: DISCORD_URL_OUTLOOK

volumes:
    auth:
